# --- Repository Configuration ---

# Path to your auction project repository (the one you want to use with Mercurial MCP)
AUCTION_PROJECT_PATH=/home/chirag/repo/devel/auction

# Path to your local Arcanist installation
ARCANIST_PROJECT_PATH=/home/chirag/Documents/arcanist

# Path to your .hgrc file (Mercurial config)
HGRC_PATH=~/.hgrc

# Path to your .arcrc file (Arcanist config)
ARCRC_PATH=~/.arcrc

# Token limit for MCP response length. Decrease this in case agent continuosly
# runs into errors.
TOKEN_LIMIT=10000
